################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApiInMvc
/Mvc/obj/Debug
/WebApi/obj/Debug/TempPE
